.About{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto;
    gap: 50px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1240px;
}

.collapse_unite{
    width: 80%;
}

.collapse_container_about{
    display: flex;
    flex-direction: column;
    justify-content: center;

}