.navigation{
    display: flex;
    justify-content: space-between;
    width: 309px;
    height: 34px;
    top: 17px;
    left: 931px;
    align-content: center;
    


    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    

    ._Header_home{
        flex-direction: row;
        flex-wrap: nowrap;
        color:#FF6060 !important;
        
        
    }

}

.nav_Header_home{
    margin-left: 30px;       
}