.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    //margin: auto;
    margin: 0 auto;
    width: 1240px;
    height: 68px;
    top: 40px;
    left: 100px;
}

.navigation{
    width: 309px;
    height: 34px;
    top: 57px;
    left: 1031px;
    color: #FF6060;
}