
.erreur_container{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 1340px;
  height: 1024px;
  top: 2085px;
  left: -543px;

}


.erreur {
  width: 597px;
  height: 263px;
  top: 277px;
  left: 432px;
  


  color: #FF6060;
  text-align: center;
  font-family: Montserrat bold;
  font-size: 288px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%; /* 410.688px */
  

  &_oups {
    color: #ff6060;
    
    &_back{
        color: #ff6060;
    }
  }
}


